<div class="gallery">Gallery</div>
<section class="gallery-section">
    <div style="padding: 1em">
        <h3 style="text-align: center">My favourites films</h3>
    </div>
    <div class="gallery-container">
        <div class="gallery-img">
        <img src="../../../assets/persuasion.png" alt="Persuasion" />
        <img src="../../../assets/prideandprejudice.png" alt="pride and prejudice" />
        <img src="../../../assets/emma.png" alt="emma" />
        <img src="../../../assets/the favourite.png" alt="the favourite" />
        <img src="../../../assets/la la land.png" alt="la la land" />
        <img src="../../../assets/yes man.png" alt="yes man" />
        </div>
    </div>
</section>
