@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Roboto');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    font-family: "Roboto", Helvetica, Arial;
    color: #fff;
    background-color: #3c4043;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}